@model CTBC.CSFS.ViewModels.PARMMenuViewModel

<style type="text/css">
    .role_s {
        width: 15%;
        text-align: left;
        display: inline-block;
    }

    .role_s2 {
        width: 2%;
        display: inline-block;
    }
</style>
<div class="headline">
    @Lang.csfs_menu_auth
</div><br />
<table width="99" border="1" cellpadding="3" cellspacing="0" class="query_table">
    <thead><tr><th colspan="2">@Lang.csfs_menu_info</th></tr></thead>
    <tr><td class="query_table_td" style="width: 15%;">MenuID</td><td style="width: 85%;">@Model.PARMMenuXMLNode.ID</td></tr>
    <tr><td class="query_table_td" style="width: 15%;">@Lang.csfs_menu_name</td><td style="width: 85%;">@Lang.ResourceManager.GetString(Model.PARMMenuXMLNode.TITLE.Trim())</td></tr>
    <tr><td class="query_table_td" style="width: 15%;">Menu URL</td><td style="width: 85%;">@Model.PARMMenuXMLNode.md_URL</td></tr>
    <tr><td class="query_table_td" style="width: 15%;">Menu FuncID</td><td style="width: 85%;">@Model.PARMMenuXMLNode.md_FuncID</td></tr>
</table>
<br />
<button type="button" name="CheckItem" onclick="CheckAllRole();">@Lang.csfs_all_checked</button>
<button type="button" name="CancelItem" onclick="UnCheckAllRole();">@Lang.csfs_all_cancel</button>
@using (Ajax.BeginForm("EditMenuToRole", new AjaxOptions() { HttpMethod = "post", OnSuccess = "displaySuccess", OnFailure = "displayError" }))
{@*1-using*@
    <table width="99" border="1" cellpadding="3" cellspacing="0" class="query_table">
        <thead>
            <tr>
                <th colspan="5">
                    @Lang.csfs_wait_auth1
                    @if (Model.CSFSRoleList != null)
                    {
                        if (Model.CSFSRoleList.Any())
                        {
                        @Model.CSFSRoleList.Count
                        }else {<text>0</text>}
                        }
                    else
                    {<text>0</text>}
                    @Lang.csfs_wait_auth2
                </th>
            </tr>
        </thead>
        @if (Model.CSFSRoleList != null)
        {@*2 if*@
            if (Model.CSFSRoleList.Any())
            {@*3 if*@
                int i = 0; int j = 0;
                int cnt = Model.CSFSRoleList.Count;    
            
                    foreach (var item in Model.CSFSRoleList)
                    {@*4 foreach*@
                        i++;
                        j++;
                        if (i == 1){<text><tr></text>}
    <td style="text-align:left;">
        @if (item.Checked == "Y")
                                            {
            <input type="checkbox" name="md_AuthZ_Seleted" value="@item.RoleID" checked="checked" onclick="chkRoleClick()" /><span>@item.RoleName<br />@item.RoleID</span>
                                            } else {
            <input type="checkbox" name="md_AuthZ_Seleted" value="@item.RoleID" onclick="chkRoleClick()" /><span>@item.RoleName<br />@item.RoleID</span>
                                            }
    </td>

                            @*計算最後一行剩餘<td>格數*@
                            if (i == 5)
                            {
                                i = 0;      
                                @Html.Raw("</tr>");
                            }                        
                            @*if (j == cnt)
                            {
                                int x = 5 - (j % 5);//剩餘<td>格數
                                if(x > 0){
                                    for (var k = 1; k <= x; k++)
                                        {<text><td></td></text>}</tr>
                                    }
                            }*@                                                      
                        @*計算最後一行剩餘<td>格數*@                                                                 
                    }@*4 foreach end*@        
            }@*3 if end *@     
            else
            {
                <tr><td>@Lang.csfs_no_data</td></tr>
            }                  
          }@*2 if end*@
        else
        {<tr><td>@Lang.csfs_no_data</td></tr>}
    </table>
    <div style="text-align:center;">
        <button type="submit" id="btnSubmit">@Lang.csfs_save</button>&nbsp;&nbsp;
        <button type="button" onclick="BackMenuToRole();">@Lang.csfs_quit</button>
    </div>
        @Html.HiddenFor(m=>m.PARMMenuXMLNode.ID)
        @Html.HiddenFor(m => m.PARMMenuXMLNode.TITLE)
}@*1-using end*@
<script type="text/javascript">
    function UnCheckAllRole() {
        $(":checkbox").removeAttr('checked');
        chkRoleClick();
    }

    function CheckAllRole() {
        $(":checkbox").attr('checked', 'checked');
        chkRoleClick();
    }
    function displaySuccess(xhr) {
        location.href = '@Url.Action("MenuToRole","PARMMenu")';
    }
    function BackMenuToRole() {
        location.href = '@Url.Action("MenuToRole","PARMMenu")';
    }

    function chkRoleClick() {
        $("input:checked + span").css({ color: '#FF0000' });
        $("input:not(:checked) + span").css({ color: '#000000' });
    }

    $(document).ready(function () {
        $(':checkbox:checked').each(function (i) {
            $("input:checked + span").css({ color: '#FF0000' });
        });
    });
</script>

