
@model CTBC.CSFS.Models.PARMMenuVO

<div class="headline">
    @Lang.csfs_menu_mg
</div>
<div class="con_title1">
    @Lang.csfs_query_area
</div>
<div>
    @using (Ajax.BeginForm("_QueryResult", new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "post", OnBegin = "ajaxValidate", OnFailure = "displayError" }))
    {
        <table width="100" border="1" cellpadding="3" cellspacing="0" class="query_table" id="tblQuery">
            <tr>
                <td class="query_table_td">@Lang.csfs_menu_name</td>
                <td class="f_word_left">@Html.TextBoxFor(m => m.TITLE, new { @MaxLength = "100" })<font color="red">＊</font> @Lang.csfs_menu_help1</td>
                <td class="query_table_td">@Lang.csfs_menu_funcid</td>
                <td class="f_word_left">
                    @Html.TextBoxFor(m => m.md_FuncID, new { @MaxLength = "100" })<font color="red">＊</font> @Lang.csfs_menu_help2
                </td>
            </tr>
        </table>
        <br />
        <div style="text-align: center">
            <button type="submit" id="Inquiry" onclick="Comm_Trim()">@Lang.csfs_query</button>&nbsp;&nbsp;
            <button type="submit" id="btnCancel" name="btnCancel" onclick="Cancel()">@Lang.csfs_cancel</button>&nbsp;&nbsp;
            <button type="button" onclick="location.href = '@Url.Action("Create","PARMMenu")';">@Lang.csfs_create</button>
        </div>
    }
    <div id="result"></div>
</div>

<script type="text/javascript">
    function ajaxValidate() {
        Comm_Trim();
        return true;
    }
    function Cancel() {
        $("#TITLE").val('');
        $("#md_FuncID").val('');
    }
    $(document).ready(function () {
        $("#Inquiry").click();
    });
</script>
