@model CTBC.CSFS.Models.PARMCode

@{
    ViewBag.Title = Lang.csfs_create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-edit"></i>
        <h3 class="box-title">@Lang.csfs_create</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Create", "ParmCode", new { area = "SystemManagement" }, FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder col-lg-12">
                <tbody>
                    <tr>
                        <td class="col-md-2 text-right">
                            @Lang.csfs_pm_codetypedesc
                            @*@Html.HiddenFor(m => m.CodeType, new { @id = "hidCodeType" })*@
                        </td>
                        <td class="col-md-3" colspan="3">
                            @Html.DropDownListFor(m => m.CodeType, (IEnumerable<SelectListItem>)ViewBag.codeTypeList, Lang.csfs_select, new { @id = "ddlCodeType" })&nbsp;&nbsp;
                            @Lang.csfs_other_desc
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3 text-right">@Lang.csfs_pm_codetype</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CodeType1, new { @MaxLength = "50", @id = "txtCodeType" })
                        </td>
                        <td class="col-md-3 text-right">@Lang.csfs_pm_codetypedesc</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CodeTypeDesc, new { @MaxLength = "50" })
                        </td>

                    </tr>
                    <tr>
                        <td class="col-md-3 text-right">@Lang.csfs_pm_detail_code</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CodeNo, new { @MaxLength = "50" })
                        </td>
                        <td class="col-md-3 text-right">@Lang.csfs_pm_detail_name</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CodeDesc, new { @MaxLength = "50" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3 text-right">@Lang.csfs_menu_sort</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.SortOrder, new { @MaxLength = "50" })
                            @Html.HiddenFor(m => m.SortOrder, new { @id = "hidSortOrder" })
                        </td>
                        <td class="col-md-3 text-right">@Lang.csfs_isenabled</td>
                        <td class="col-md-3">
                            @Html.RadioButtonFor(m => m.Enable, true, new { @checked = "true", @id = "radEnable" })@Lang.csfs_enable
                            @Html.RadioButtonFor(m => m.Enable, false)@Lang.csfs_disable
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3 text-right">@Lang.csfs_parmtag</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CodeTag, new { @id = "txtCodeTag", @MaxLength = "50" })
                        </td>
                        <td class="col-md-3 text-right"></td>
                        <td class="col-md-3"></td>
                    </tr>
                    <tr>
                        <td class="col-md-3 text-right">@Lang.csfs_memo</td>
                        <td class="col-md-3" colspan="3">
                            @Html.TextAreaFor(m => m.CodeMemo, new { @id = "txtCodeMemo", @cols = "60", @rows = "5" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnSave" type="button" class="btn btn-primary btn-xs">@Lang.csfs_confirm</button>
            <a class="btn btn-default btn-xs" href="@Url.Action("Index", "ParmCode", new { area = "SystemManagement" })">@Lang.csfs_cancel</a>
        </div>
    }
</div>

@Html.HiddenFor(m => m.CodeUid, new { @id = "hidCodeUid" })
@Html.HiddenFor(m => m.Enable, new { @id = "hidEnable" })
@Html.Hidden("NowPage", "ParmCodeCreate")
@Html.Hidden("CreateUrl", Url.Action("Create", "ParmCode", new { area = "SystemManagement" }))
@Html.Hidden("GetSortOrderUrl", Url.Action("GetSortOrder", "ParmCode", new { area = "SystemManagement" }))
@Html.Hidden("CancelUrl", Url.Action("Index", "ParmCode", new { area = "SystemManagement" }))
@Html.Hidden("CountFailMsg", Lang.csfs_code_repeat)
@Html.Hidden("CreateSuccessMsg", Lang.csfs_add_ok)
@Html.Hidden("CreateFailMsg", Lang.csfs_add_fail)
@Html.Hidden("NameddlCodeTypeCreate", Lang.csfs_codetypedesc_ok)
@Html.Hidden("NametxtCodeType", Lang.csfs_codetype_ok)
@Html.Hidden("NameCodeTypeDesc", Lang.csfs_codetypedesc1_ok)
@Html.Hidden("NameCodeNo", Lang.csfs_codeno_ok)
@Html.Hidden("NameCodeDesc", Lang.csfs_codedesc_ok)
@Html.Hidden("NameSortOrder", Lang.csfs_codesort_ok)
@Html.Hidden("NameSortOrderNAV", Lang.csfs_codesort_ok1)

@section scripts{
    @Scripts.Render("~/Scripts/SystemManagement/ParmCode.js")
}

