@model CTBC.CSFS.Models.PARMCode

@{
    ViewBag.Title = Lang.csfs_menu_tit_parmcode;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-search"></i>
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("_QueryResult", "ParmCode", new { area = "SystemManagement" }, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder">
                <tbody>
                    <tr>
                        @* 請使用 col-md-數字來設定寬度 一行總和為12 *@
                        <td class="col-md-3 text-right">@Lang.csfs_codetypedesc</td>
                        <td class="col-md-3">
                            @Html.DropDownListFor(m => m.CodeType, (IEnumerable<SelectListItem>)ViewBag.codeTypeList, Lang.csfs_select, new { @id = "ddlCodeType" })
                        </td>
                        <td class="col-md-3 text-right">@Lang.csfs_codedesc</td>
                        <td class="col-md-3">
                            @Html.DropDownListFor(m => m.CodeNo, (IEnumerable<SelectListItem>)ViewBag.codeList, Lang.csfs_select, new { @id = "ddlCode" })
                        </td>
                    </tr>
                    <tr>
                        @* 請使用 col-md-數字來設定寬度 一行總和為12 *@
                        <td class="col-md-3 text-right">@Lang.csfs_isenabled</td>
                        <td class="col-md-3">
                            @Html.DropDownListFor(m => m.Enable, (IEnumerable<SelectListItem>)ViewBag.codeStatusList,Lang.csfs_select)
                        </td>
                        <td class="col-md-3 text-right"></td>
                        <td class="col-md-3"></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
            <button id="btnQuery" type="button" class="btn btn-primary btn-xs">@Lang.csfs_query</button>
            <button id="btnCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
            <a class="btn btn-primary btn-xs" href="@Url.Action("Create", "ParmCode", new { area = "SystemManagement", CaseID = ViewBag.CaseId })">@Lang.csfs_create</a>
            <button id="btnExcel" type="button" class="btn btn-default btn-xs">@Lang.csfs_debtexcel</button>
         </div>
    }
</div>

<div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "ParmCode", new { area = "SystemManagement" })">

</div>
@Html.Hidden("NowPage", "ParmCodeQuery")
@Html.Hidden("BindCodeUrl", Url.Action("BindCode", "ParmCode", new { area = "SystemManagement" }))
@Html.Hidden("ExcelParmCodeUrl", Url.Action("ExcelParmCode", "ParmCode", new { area = "SystemManagement" }))
@Html.Hidden("SelectOneMsg", Lang.csfs_select)

@section scripts {
    @Scripts.Render("~/Scripts/SystemManagement/ParmCode.js")
}
