@model CTBC.CSFS.ViewModels.PARMScheduleSettingViewModel
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
    function ScheduleDelete(id) {
        if (confirm("@Lang.csfs_schedule_msg2")) {
            //-------------------------------------------------------------------
            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("Delete", "PARMScheduleSetting")',
                async: false,
                data: { id: id },
                success: function(data) {
                    if (data == "1") {
                        alert("@Lang.csfs_del_ok");
                        location.href = '@Url.Action("Query", "PARMScheduleSetting")';
                    } else {
                        alert("@Lang.csfs_del_fail");
                    }
                },
                error: function(xhr) {
                    displayError(xhr);
                }
            });
            //-------------------------------------------------------------------
        }
    }
    function displayError() {
        jAlertError($("#LoadErrorMsg").val());
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                @if (Model.PARMScheduleSettingList != null)
                {
                    if (Model.PARMScheduleSettingList.Any())
                    {
                        <div class="box-tools pull-right" id="pager">
                            @Ajax.Pager(Model.PARMScheduleSettingVO.PageSize, Model.PARMScheduleSettingVO.CurrentPage, Model.PARMScheduleSettingVO.TotalItemCount, Model.PARMScheduleSettingVO, new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.PARMScheduleSettingVO.SortExpression, Model.PARMScheduleSettingVO.SortDirection)
                        </div>
                    }
                }
            </div><!-- /.box-header -->
            <div id="querytablediv" class="box-body  table-scroll" style="padding: 0;">
                <table id="query_table" class="table table-bordered table-striped text-black sort">
                    <thead>
                    <tr class="alert-success text-center ">
                        <th>@Lang.csfs_seqnum</th>
                        <th>@Lang.csfs_schedule_name</th>
                        <th>@Lang.csfs_schedule_path</th>
                        <th>@Lang.csfs_schedule_param</th>
                        <th>@Lang.csfs_enable_ornot</th>
                        <th>@Lang.csfs_schedule_status</th>
                        <th>OneTime @Lang.csfs_start_time</th>
                        <th>@Lang.csfs_schedule_fix_hh</th>
                        <th>@Lang.csfs_schedule_fix_mm</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null && Model.PARMScheduleSettingList != null && Model.PARMScheduleSettingList.Any())
                    {
                        foreach (var item in Model.PARMScheduleSettingList)
                        {
                            <tr>
                                <td>@item.RowNum</td>
                                <td>@item.Name</td>
                                <td>@item.Path</td>
                                <td>@item.Arguments</td>
                                <td>@item.Enabled</td>
                                <td>@item.Status</td>
                                <td>@item.OneTime</td>
                                <td>@item.RegularHour</td>
                                <td>@item.RegularMinute</td>
                                <td>
                                    <a class="btn btn-default btn-xs" title="@Lang.csfs_edit" href="@Url.Action("Edit", "PARMScheduleSetting", new { area = "SystemManagement", id = item.ID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-default btn-xs" title="@Lang.csfs_delete" href="#" onclick="ScheduleDelete('@item.ID');">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="gridrow"><td colspan="10"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                    }
                    </tbody>
                </table>
                @*@Html.Hidden("querystring", Model.CSFSLogVO.QuickSearchCon)*@
                @Html.Hidden("defaultSortColumn", Model.PARMScheduleSettingVO.SortExpression)
                @Html.Hidden("defaultSort", Model.PARMScheduleSettingVO.SortDirection)
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>


