@model CTBC.CSFS.ViewModels.GovAddressViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                @if (Model.GovAddressList != null)
                {
                    if (Model.GovAddressList.Any())
                    {
                        <div class="box-tools pull-right" id="pager">
                            @Ajax.Pager(Model.GovAddress.PageSize, Model.GovAddress.CurrentPage, Model.GovAddress.TotalItemCount, Model.GovAddress, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.GovAddress.SortExpression, Model.GovAddress.SortDirection)
                        </div>
                    }
                }
            </div>
            <div id="querytablediv" class="box-body">
                <table id="query_table" class="table table-bordered table-striped text-black">
                    <thead>
                        <tr class="alert-success text-center ">
                            <th>@Lang.csfs_seqnum</th>
                            <th class="col-md-2">@Lang.csfs_gov_kind</th>
                            <th class="col-md-2">@Lang.csfs_gov_name</th>
                            <th class="col-md-4">@Lang.csfs_address</th>
                            <th class="col-md-2">@Lang.csfs_isenabled</th>
                            <th>@Lang.csfs_edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.GovAddressList != null && Model.GovAddressList.Any())
                        {
                            foreach (var item in Model.GovAddressList)
                            {

                                <tr>
                                    <td class="text-center">
                                        @item.GovAddrId
                                    </td>
                                    <td class="text-left"> @item.GovKind</td>
                                    <td class="text-left">@item.GovName</td>
                                    <td class="text-left">@item.GovAddr</td>
                                    @if (item.IsEnabled)
                                    {
                                        <td class="text-center">@Lang.csfs_enable</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@Lang.csfs_disable</td>
                                    }
                                    <td class="text-center">
                                        <a class="btn btn-default btn-xs" title="@Lang.csfs_edit" href="@Url.Action("Edit", "GovAddress", new { area = "SystemManagement", govId = item.GovAddrId })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>
                @*@Html.Hidden("defaultSortColumn", Model.LendDataInfo.SortExpression)
                    @Html.Hidden("defaultSort", Model.LendDataInfo.SortDirection)*@
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>