@model CTBC.CSFS.Models.GovAddress

@{
    ViewBag.Title = Lang.csfs_govdate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-edit"></i>
        <h3 class="box-title">@Lang.csfs_create</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Create", "GovAddress", new { area = "SystemManagement" }, FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder col-lg-12">
                <tbody>
                    <tr>
                        <td class="col-md-2 text-right">@Lang.csfs_gov_kind</td>
                        <td class="col-md-4">
                            @Html.DropDownListFor(m => m.GovKind, (IEnumerable<SelectListItem>)ViewBag.GovKindList, Lang.csfs_select, new { @id = "ddlkindCreate" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_name</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.GovName, new { @id = "txtGovName" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2 text-right">@Lang.csfs_address</td>
                        <td class="col-md-4">
                            @Html.TextBoxFor(m => m.GovAddr, new { @id = "txtGovAddr" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_isenabled</td>
                        <td class="col-md-5">
                            @Html.DropDownListFor(m => m.IsEnabled, (IEnumerable<SelectListItem>)ViewBag.IsEnableList, Lang.csfs_select, new { @id = "ddlIsEnable" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnSave" type="button" class="btn btn-primary btn-xs">@Lang.csfs_confirm</button>
            <a class="btn btn-default btn-xs" href="@Url.Action("Index", "GovAddress", new { area = "SystemManagement" })">@Lang.csfs_cancel</a>
        </div>
    }
</div>

@Html.Hidden("NowPage", "GovAddressCreate")
@Html.Hidden("CancelUrl", @Url.Action("Index", "GovAddress", new { area = "SystemManagement" }))
@Html.Hidden("CreateSuccessMsg", Lang.csfs_add_ok)
@Html.Hidden("CreateFailMsg", Lang.csfs_add_fail)

@Html.Hidden("NameddlkindCreate", Lang.csfs_govkind_ok)
@Html.Hidden("NametxtGovName", Lang.csfs_govname_ok)
@Html.Hidden("NametxtGovAddr", Lang.csfs_govaddr_ok)
@Html.Hidden("NameddlIsEnable", Lang.csfs_isenable_ok)

@section scripts{
    @Scripts.Render("~/Scripts/SystemManagement/GovAddress.js")
}

