@model CTBC.CSFS.Models.GovAddress
@using CTBC.CSFS.Models;
@{
    ViewBag.Title = Lang.csfs_govdate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-search"></i>
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("_QueryResult", "GovAddress", new { area = "SystemManagement" }, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder">
                <tbody>
                    <tr>
                        @* 請使用 col-md-數字來設定寬度 一行總和為12 *@
                        <td class="col-md-3 text-right">@Lang.csfs_gov_kind</td>
                        <td class="col-md-3">
                            @Html.DropDownListFor(m => m.GovKind, (IEnumerable<SelectListItem>)ViewBag.GovKindList, Lang.csfs_select, new { @id = "ddlkind" })
                        </td>
                        <td class="col-md-3 text-right">@Lang.csfs_gov_name</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.GovName, new { @MaxLength = "20", @class = "col-md-12 no-padding" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
            <button id="btnQuery" type="button" class="btn btn-primary btn-xs">@Lang.csfs_query</button>
            <button id="btnCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>

            <a class="btn btn-primary btn-xs" href="@Url.Action("Create", "GovAddress", new { area = "SystemManagement", CaseID = ViewBag.CaseId })">@Lang.csfs_create</a>
        </div>
    }
</div>

<div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "GovAddress", new { area = "SystemManagement" })">

</div>
@Html.Hidden("NowPage", "GovAddressQuery")
@Html.Hidden("CreateUrl", Url.Action("Create", "GovAddress", new { area = "SystemManagement" }))
@Html.Hidden("DeleteUrl", Url.Action("Delete", "GovAddress", new { area = "SystemManagement" }))
@Html.Hidden("SelectOneMsg", Lang.csfs_select_one)
@Html.Hidden("DeleteConfirmMsg", Lang.csfs_del_confirm)
@Html.Hidden("DeleteFailMsg", Lang.csfs_del_fail)
@Html.Hidden("DeleteSuccessMsg", Lang.csfs_del_ok)

@section scripts {
    @Scripts.Render("~/Scripts/SystemManagement/GovAddress.js")
}
