@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@model CTBC.CSFS.ViewModels.CaseMasterViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                案件總筆數：@Model.DataCount 筆
                <label style="margin-top:8px;">&nbsp;</label> 
                @if (Model.CaseMasterList != null)
                {
                    if (Model.CaseMasterList.Count > 0)
                    {
                        <div class="box-tools pull-right" id="pager">
                            @Ajax.Pager(Model.CaseMaster.PageSize, Model.CaseMaster.CurrentPage, Model.CaseMaster.TotalItemCount, Model.CaseMaster, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.CaseMaster.SortExpression, Model.CaseMaster.SortDirection)
                        </div>
                    }
                }
            </div>
            <div id="querytablediv" class="box-body">
                <table id="query_table" class="table table-bordered table-striped text-black">
                    <thead>
                        <tr class="alert-success text-center ">
                            @*
                            <th nowrap width="5%">
                                <input type="checkbox" id="check01" onClick="ChkAll();" />
                            </th>
                                *@
                            <th nowrap width="5%">
                                @Lang.csfs_seqnum
                            </th>
                            <th nowrap width="12%">
                                案件編號
                            </th>
                            <th nowrap width="12%">
                                類別
                            </th>
                            <th nowrap width="12%">
                                細分類
                            </th>
                            <th nowrap width="12%">
                                來文機關
                            </th>
                            <th nowrap width="12%">
                                來文字號
                            </th>
                            <th nowrap width="10%">
                                來文日期
                            </th>  
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.CaseMasterList != null && Model.CaseMasterList.Count>0)
                        {
                            int pNum = 1;

                            foreach (var item in Model.CaseMasterList)
                            {
                                <tr>
                                    @*
                                    <td class="text-center">
                                        @if (item.Status=="B01") {
                                        <input name="chkChild" type="checkbox" data-CaseStatus="@item.Status" class="checkfile" id="checkbox_@pNum" onclick="ChildItem();" value="@item.DocNo" data-VersionKey="@item.CaseId" />
                                        }
                                    </td>
                                        *@
                                    <td class="text-center">
                                        @item.RowNum
                                    </td>
                                    <td class="text-center">
                                        @item.CaseNo
                                    </td>
                                    <td class="text-left">@item.CaseKind</td>
                                    <td class="text-left">@item.CaseKind2</td>
                                    <td class="text-left">
                                        @item.GovUnit
                                    </td>
                                    <td class="text-left">
                                        @item.GovNo
                                    </td>
                                    <td class="text-center">
                                        @item.ReceiveDate
                                    </td>
                                </tr>
                                pNum++;
                            }
                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>