@model CTBC.CSFS.Models.PARMMenuVO

@{
    ViewBag.Title = Lang.csfs_menu_tit_parmmenu;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using(Html.BeginForm("_QueryResult", "PARMMenu", new {area = "SystemManagement"}, FormMethod.Post, new {id = "frmQuery", @class = "form-horizontal"}))
    {
        <div class="box-body ">
                <div class="form-group">
                    <label for="TITLE" class="col-sm-2 control-label">@Lang.csfs_menu_name</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.TITLE, new { @MaxLength = "100", @class = "form-control", placeholder = Lang.csfs_menu_name })
                    </div>
                    <div class="col-sm-4 text-inline"><span class="text-red">&lowast;</span>@Lang.csfs_menu_help1</div>
                </div>
                <div class="form-group">
                    <label for="md_FuncID" class="col-sm-2 control-label">@Lang.csfs_menu_funcid</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.md_FuncID, new { @MaxLength = "100", @class = "form-control", placeholder = Lang.csfs_menu_funcid })
                    </div>
                    <div class="col-sm-4 text-inline"><span class="text-red">&lowast;</span>@Lang.csfs_menu_help2</div>
                </div>
            </div><!-- /.box-body -->
        <div class="box-footer">
            <button id="btnQuery" type="button" class="btn btn-primary">@Lang.csfs_query</button>
            <button id="btnCancel" type="reset" class="btn btn-default">@Lang.csfs_cancel</button>
            <a class="btn btn-default" href="@Url.Action("Create", "PARMMenu", new {area = "SystemManagement"})">@Lang.csfs_create</a>
            <button id="btnEdit" type="button" class="btn btn-default">@Lang.csfs_edit</button>
            <button id="btnDelete" type="button" class="btn btn-default">@Lang.csfs_delete</button>
        </div>
    }
</div>

<div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "PARMMenu", new { area = "SystemManagement" })">
    
</div>
@Html.Hidden("NowPage","MenuQuery")
@Html.Hidden("EditUrl", Url.Action("Edit", "PARMMenu", new { area = "SystemManagement" }))
@Html.Hidden("DeleteUrl", Url.Action("Delete", "PARMMenu", new { area = "SystemManagement" }))
@Html.Hidden("SelectOneMsg", Lang.csfs_select_one)
@Html.Hidden("DeleteConfirmMsg", Lang.csfs_del_confirm)
@Html.Hidden("DeleteFailMsg", Lang.csfs_del_fail)
@Html.Hidden("DeleteSuccessMsg", Lang.csfs_del_ok)


@section scripts {
    @Scripts.Render("~/Scripts/SystemManagement/MenuMaintenance.js")
}