@using CTBC.FrameWork.Paging
@model AgentToHandleViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                @if (Model.AgentToHandleList != null)
                {
                    if (Model.AgentToHandleList.Any())
                    {
                        <div class="box-tools pull-right" id="pager">
                            @Ajax.Pager(Model.AgentToHandle.PageSize, Model.AgentToHandle.CurrentPage, Model.AgentToHandle.TotalItemCount, Model.AgentToHandle, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.AgentToHandle.SortExpression, Model.AgentToHandle.SortDirection)
                        </div>
                    }
                }
            </div>
            <div id="querytablediv" class="box-body">
                <table id="query_table" class="table table-bordered table-striped text-black sort">  
                    <thead>
                        <tr class="alert-success text-center ">
                            <th><input type="checkbox" id="CheckAll"></th>
                            <th class="col-md-1">@Lang.csfs_menu_sort</th>
                            <th class="col-md-1">@Lang.csfs_case_no</th>
                            <th class="col-md-1">@Lang.csfs_case_kind</th>
                            <th class="col-md-1">@Lang.csfs_case_kind2</th>
                            @if (Model.AgentToHandle.CaseKind == Lang.csfs_menu_tit_casegeneral)
                            {
                                <th class="col-md-1">@Lang.csfs_memo</th>
                            }
                            else
                            {
                                <th class="col-md-1">@Lang.csfs_case_speed</th>
                            }
                            <th class="col-md-2">@Lang.csfs_gov_unit</th>
                            <th class="col-md-1">@Lang.csfs_gov_no</th>
                            <th class="col-md-1">@Lang.csfs_gov_date</th>
                            <th class="col-md-1">@Lang.csfs_case_limited_date</th>
                            <th class="col-md-1">@Lang.csfs_case_unit</th>
                            <th class="col-md-1">@Lang.csfs_keyin_person</th>
                            @*<th class="col-md-1" data-sortcolumn="Status">@Lang.csfs_case_status</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.AgentToHandleList != null && Model.AgentToHandleList.Any())
                        {
                            int i = 0;
                            foreach (var item in Model.AgentToHandleList)
                            {
                                i++;
                                string className = "";
                                if (Convert.ToInt32(DateTime.Now.ToString("yyyyMMdd")) > Convert.ToInt32(item.LimitDate.Replace("/", "")))
                                {
                                    className = "text-red";
                                }
                                else if (Convert.ToInt32(DateTime.Now.ToString("yyyyMMdd")) == Convert.ToInt32(item.LimitDate.Replace("/", "")))
                                {
                                    className = "text-light-blue";
                                }
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" name="r2" class="checkfile" value="@item.CaseId" data-limitdate="@item.LimitDate" data-returnreason="@item.ReturnReason" data-overduememo="@item.OverDueMemo" data-caseno ="@item.CaseNo"/>
                                    </td>
                                    <td class="text-center @className">@i</td>
                                    <td class="text-center @className">
                                        @Html.ActionLink(Convert.ToString(item.CaseNo) + " ", "Index", "AgentDocumentInfo", new { area = "Agent", CaseId = item.CaseId, pageFrom = "2" }, new { })
                                    </td>
                                    <td class="text-center @className">@item.CaseKind</td>
                                    <td class="text-center @className">@item.CaseKind2</td>
                                    @if (Model.AgentToHandle.CaseKind == Lang.csfs_menu_tit_casegeneral)
                                    {
                                        <td class="text-center @className">@item.PropertyDeclaration</td>
                                    }
                                    else
                                    {
                                        <td class="text-center @className">@item.Speed</td>
                                    }
                                    <td class="@className">@item.GovUnit</td>
                                    <td class="@className">@item.GovNo</td>
                                    <td class="text-center @className">@item.GovDate</td>
                                    <td class="text-center @className">@item.LimitDate</td>
                                    <td class="text-center @className">@item.Unit</td>
                                    <td class="text-center @className">@item.Person</td>
                                    @*<td class="@className">@item.StatusShow</td>*@
                                </tr>
                            }

                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>
                @Html.Hidden("querystring", Model.AgentToHandle.GovUnit)
                @Html.Hidden("querystring", Model.AgentToHandle.GovNo)
                @Html.Hidden("querystring", Model.AgentToHandle.Person)
                @Html.Hidden("querystring", Model.AgentToHandle.Speed)
                @Html.Hidden("querystring", Model.AgentToHandle.ReceiveKind)
                @Html.Hidden("querystring", Model.AgentToHandle.GovDateS)
                @Html.Hidden("querystring", Model.AgentToHandle.GovDateE)
                @Html.Hidden("querystring", Model.AgentToHandle.CaseKind)
                @Html.Hidden("querystring", Model.AgentToHandle.CaseKind2)
                @Html.Hidden("querystring", Model.AgentToHandle.Unit)
                @Html.Hidden("querystring", Model.AgentToHandle.CreatedDateS)
                @Html.Hidden("querystring", Model.AgentToHandle.CreatedDateE)
                @Html.Hidden("defaultSortColumn", Model.AgentToHandle.SortExpression)
                @Html.Hidden("defaultSort", Model.AgentToHandle.SortDirection)
                @Html.Hidden("TextNotNull", Lang.csfs_text_notnull)
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    jQuery(document).ready(function () {
        $.custPagination.BindCheckBox();
        $.custPagination.sort($("#divResult"));
    });
</script>