@model CTBC.CSFS.Models.SendTimeSection
@{
    ViewBag.Title = Lang.csfs_sendtimesection;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-search"></i>
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    @using (Ajax.BeginForm("_QueryResult", "SendTimeSection", new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "post", OnBegin = "", OnFailure = "displayError" }))
    {
        
        <div class="box-footer text-center">
            <button type="submit" id="Inquiry" class="btn btn-primary btn-xs" style="display:none">@Lang.csfs_query</button>
            <button type="button" onclick="location.href='@Url.Action("Create", "SendTimeSection")';" class=" btn btn-primary btn-xs">@Lang.csfs_create</button>
        </div>
    }
</div>
<div id="result" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "SendTimeSection", new { area = "SystemManagement" })"></div>
@section scripts {
    <script type="text/javascript">

        function displayError() {
            jAlertError($("#LoadErrorMsg").val());
        }

        $(document).ready(function() {
            $("#Inquiry").click();
        });
    </script>
}