@model CTBC.CSFS.ViewModels.WarningImportQueryDataViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                @if (Model.WarningImportQueryDatalist != null)
                {
                    if (Model.WarningImportQueryDatalist.Any())
                    {
                        <div class="box-tools pull-right" id="pager">
                            @*CSFS-67 modify by nianhuaxiao start 20170802*@
                            @*@Ajax.Pager(Model.WarningImportQueryData.PageSize, Model.WarningImportQueryData.CurrentPage, Model.WarningImportQueryData.TotalItemCount, Model.WarningImportQueryDatalist, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.WarningImportQueryData.SortExpression, Model.WarningImportQueryData.SortDirection)*@
                            @Ajax.Pager(Model.WarningImportQueryData.PageSize, Model.WarningImportQueryData.CurrentPage, Model.WarningImportQueryData.TotalItemCount, Model.WarningImportQueryData, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.WarningImportQueryData.SortExpression, Model.WarningImportQueryData.SortDirection)
                            @*CSFS-67 modify by nianhuaxiao end 20170802*@
                        </div>
                    }
                }
            </div>
            <div id="querytablediv" class="box-body">
                <table id="query_table" class="table table-bordered table-striped text-black sort">
                    <thead>
                        <tr class="alert-success text-center ">
                            <th class="col-md-1">@Lang.csfs_seqnum</th>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-1">帳號</th>
                            <th class="col-md-1">工單編號</th>
                            <th class="col-md-1">165案號</th>
                            <th class="col-md-1">鍵檔成功</th>
                            <th class="col-md-1">@Lang.csfs_excutedate</th>
                            <th class="col-md-1">@Lang.csfs_timesection</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.WarningImportQueryDatalist != null && Model.WarningImportQueryDatalist.Any())
                        {
                            int i = 0;
                            foreach (var item in Model.WarningImportQueryDatalist)
                            {
                                i++;
                                //string reCase = item.Added == "False" ? "是" : "否";
                                //string word = "";
                                //string no = "";
                                //string[] wordno = item.GovNo.Split(new string[] { "字第", "號" }, StringSplitOptions.RemoveEmptyEntries);
                                //if (wordno.Length > 1)
                                //{
                                //    word = wordno[0];
                                //    no = wordno[1];
                                //}
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-center">@item.COL_ID</td>
                                    <td class="text-center">@item.COL_ACCOUNT2</td>
                                    <td class="text-center">@item.COL_C1003CASE</td>
                                    <td class="text-center">@item.COL_165CASE</td>
                                    <td class="text-center">@item.statusname</td>
                                    <td class="text-center">@item.CreatedDate.ToString("yyyy/MM/dd")</td>
                                    <td class="text-center">@item.Timesection</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="8"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>

                @Html.Hidden("querystring", Model.WarningImportQueryData.COL_ID)
                @Html.Hidden("querystring", Model.WarningImportQueryData.COL_ACCOUNT2)
                @Html.Hidden("querystring", Model.WarningImportQueryData.COL_C1003CASE)
                @Html.Hidden("querystring", Model.WarningImportQueryData.COL_C1003CASE)
                @Html.Hidden("querystring", Model.WarningImportQueryData.COL_165CASE)
                @Html.Hidden("defaultSortColumn", Model.WarningImportQueryData.SortExpression)
                @Html.Hidden("defaultSort", Model.WarningImportQueryData.SortDirection)
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    jQuery(document).ready(function () {
        $.custPagination.sort($("#divResult"));
    });
</script>