@model CTBC.CSFS.Models.DirectorToApprove
@{
    ViewBag.Title = Lang.csfs_menu_tit_directortoapprove;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-search"></i>
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div>
    @using (Html.BeginForm("_QueryResult", "DirectorToApprove", new { area = "Director" }, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder">
                <tbody>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_case_kind</td>
                        <td class="col-md-5" colspan="5">
                            @Html.DropDownListFor(m => m.CaseKind, (IEnumerable<SelectListItem>)ViewBag.CaseKindList, Lang.csfs_select, new { @id = "ddlCaseKind" })
                            @Html.DropDownListFor(m => m.CaseKind2, (IEnumerable<SelectListItem>)ViewBag.CaseKind2List, Lang.csfs_select, new { @id = "ddlCaseKind2" })
                            @Lang.csfs_sendkind@Html.DropDownListFor(m => m.SendKind, (IEnumerable<SelectListItem>)ViewBag.SendKindList, Lang.csfs_bqf, new { @id = "ddlSendKind" })
                        </td>
                    </tr>
                    <tr>
                        @* 請使用 col-md-數字來設定寬度 一行總和為12 *@
                        <td class="col-md-1 text-right">@Lang.csfs_gov_unit</td>
                        <td class="col-md-5">
                            @*@Html.DropDownListFor(m => m.GovKind, (IEnumerable<SelectListItem>)ViewBag.GOV_KINDList, Lang.csfs_select, new { @id = "ddlGOV_KIND" })*@
                            @Html.TextBoxFor(m => m.GovUnit, new { @id = "txtGovUnit", @MaxLength = "200" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_no</td>
                        <td class="col-md-5" colspan="3">
                            @Html.TextBoxFor(m => m.CaseNo, new { @id = "CaseNo" })
                        </td>

                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_date</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.GovDateS, new { data_datepicker = "true", @Maxlength = "9" })
                            ～
                            @Html.TextBoxFor(m => m.GovDateE, new { data_datepicker = "true", @Maxlength = "9" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_speed</td>
                        <td class="col-md-2">
                            @Html.DropDownListFor(m => m.Speed, (IEnumerable<SelectListItem>)ViewBag.SpeedList, Lang.csfs_select, new { @id = "ddlSpeed" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_receive_kind</td>
                        <td class="col-md-2">
                            @Html.DropDownListFor(m => m.ReceiveKind, (IEnumerable<SelectListItem>)ViewBag.ReceiveKindList, Lang.csfs_select, new { @id = "ddlReceiveKind" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_no</td>
                        <td class="col-md-5">@Html.TextBoxFor(m => m.GovNo, new { @MaxLength = "100" })</td>                        
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_keyin_date</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.CreatedDateS, new { data_datepicker = "true", @Maxlength = "9" })
                            ～
                            @Html.TextBoxFor(m => m.CreatedDateE, new { data_datepicker = "true", @Maxlength = "9" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_unit</td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.Unit, new { @MaxLength = "100" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_keyin_person</td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.CreateUser, new { @MaxLength = "100" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_senddate</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.SendDateS, new { data_datepicker = "true", @Maxlength = "9" })
                            ～
                            @Html.TextBoxFor(m => m.SendDateE, new { data_datepicker = "true", @Maxlength = "9" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_agnet</td>
                        @*20170630 緊急 RQ-2015-019666-018 派件至跨單位 宏祥 update start*@
                        <td class="col-md-2">
                            @*@Html.TextBoxFor(m => m.AgentUser, new { @MaxLength = "100" })*@
                            @*@Html.DropDownListFor(m => m.AgentUser, (IEnumerable<SelectListItem>)ViewBag.AgentUserList, Lang.csfs_select, new { @id = "ddlAgentUser" })*@
                            @if (ViewBag.IsBranchDirector == "0")
                            {
                                @Html.DropDownListFor(m => m.AgentDepartment, (IEnumerable<SelectListItem>)ViewBag.AgentDepartmentList, Lang.csfs_select, new { @id = "ddlAgentDepartment" })
                            }
                            @Html.DropDownListFor(m => m.AgentDepartment2, (IEnumerable<SelectListItem>)ViewBag.AgentDepartment2List, Lang.csfs_select, new { @id = "ddlAgentDepartment2" })
                            @Html.DropDownListFor(m => m.AgentDepartmentUser, (IEnumerable<SelectListItem>)ViewBag.AgentDepartmentUserList, Lang.csfs_select, new { @id = "ddlAgentDepartmentUser" })
                        </td>
                        @*20170630 緊急 RQ-2015-019666-018 派件至跨單位 宏祥 update end*@
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" id="pageNum" name="pageNum" />
        <div class="box-footer text-center">
            <button id="btnQuery" type="button" class="btn btn-primary btn-xs">@Lang.csfs_query</button>
            <button id="btnCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
            @*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 update start*@
            @{
                bool bIstTopDirector = Convert.ToBoolean(ViewBag.isTopDirector);
                if (ViewBag.IsBranchDirector == "0")
                { 
                    if (!bIstTopDirector)
                    {
                    <button id="btnChengHe" type="button" class="btn btn-primary btn-xs">@Lang.csfs_nuclear</button>
                    }
                    <button id="btnBatchApprove" type="button" class="btn btn-primary btn-xs">整批放行</button>
                    <button id="btnApprove" type="button" class="btn btn-primary btn-xs">@Lang.csfs_approve</button>
                }
                else
                {
                    <button id="AssignAgents" type="button" class="btn btn-primary btn-xs">@Lang.csfs_assign_agents</button>
                }                    
             }
            @*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 update start*@        
            <button id="btnReturn" type="button" class="btn btn-primary btn-xs">@Lang.csfs_return</button>
            <button id="btnReportSelected" type="button" class="btn btn-primary btn-xs">@Lang.csfs_print</button>
            <button id="btnRemit" type="button" class="btn btn-primary btn-xs">匯出</button>
        </div>
    }
</div>
<div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "DirectorToApprove", new {area = "Director"})">
</div>
@* 退件畫面*@
<div class="modal fade" id="modalClose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Lang.csfs_return</h4>
            </div>
            <div class="modal-body">
                @Lang.csfs_return1:
                @Html.DropDownListFor(m => m.CloseReason, (IEnumerable<SelectListItem>)ViewBag.ReturnReasonList, Lang.csfs_select, new { @id = "CloseReason" })
                @*@Html.TextAreaFor(m => m.CloseReason, new { @id = "CloseReason", @rows = "15", @class = "col-xs-12 no-padding", @MaxLength = "200" })*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCloseSubmit">@Lang.csfs_save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Lang.csfs_cancel</button>
            </div>
        </div>
    </div>
</div>
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add start*@
@* 逾期原因*@
<div class="modal fade" id="modalOver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Over"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleForAgent">@*@Lang.*@</h4>
            </div>
            <div class="modal-body">
                @Lang.csfs_over_memo:
                @Html.TextAreaFor(m => m.OverDueMemo, new { @id = "OverDueMemo", @rows = "15", @class = "col-xs-12 no-padding", @MaxLength = "50" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOverSubmit">@Lang.csfs_save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Lang.csfs_cancel</button>
            </div>
        </div>
    </div>
</div>
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add end*@
<iframe id="frmForReport" class="hidden" width="0" height="0" style="display: none;"></iframe>

@Html.Hidden("NowPage", "DirectorToApproveQuery")
@Html.Hidden("GetCaseKind2Url", Url.Action("ChangCaseKind1", "Common", new { area = "Common" }))
@Html.Hidden("ChengHeUrl", Url.Action("ChenHe", "DirectorToApprove", new { area = "Director" }))
@Html.Hidden("ApproveUrl", Url.Action("FangXing", "DirectorToApprove", new { area = "Director" }))
@* Add by zhangwei 20180315 start *@
@Html.Hidden("BatchApproveUrl", Url.Action("BatchFangXing", "DirectorToApprove", new { area = "Director" }))
@Html.Hidden("RemitUrl", Url.Action("Remit", "DirectorToApprove", new { area = "Director" }))
@* Add by zhangwei 20180315 end *@
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add start*@
@Html.Hidden("AgentsUrl", Url.Action("AssignSet", "DirectorToApprove", new { area = "Director" }))
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add end*@
@Html.Hidden("ReturnUrl", Url.Action("Return", "DirectorToApprove", new { area = "Director" }))
@Html.Hidden("ReportUrl", Url.Action("Report", "Common", new { area = "Common" }))

@Html.Hidden("PlzCorrectFormat", Lang.csfs_enter_correct_format)
@Html.Hidden("GovDateText", Lang.csfs_gov_date)
@Html.Hidden("CreatedDateText", Lang.csfs_keyin_date)
@Html.Hidden("SelectOneMsg", Lang.csfs_select_one)

@* 呈核 *@
@Html.Hidden("ChengHeConfirmMsg", Lang.csfs_confirm_nuclear)
@Html.Hidden("ChengHeConfirmMsgMax", Lang.csfs_confirm_nuclear_max)
@Html.Hidden("ChengHeOkMsg", Lang.csfs_nuclear_success)
@Html.Hidden("ChengHeFaileMsg", Lang.csfs_nuclear_fail)
@Html.Hidden("NuclearOneMsg", Lang.csfs_over_onebyone)
@* 放行 *@
@Html.Hidden("ApprovefirmMsg", Lang.csfs_confirm_approve)
@Html.Hidden("ApproveOkMsg", Lang.csfs_approve_success)
@Html.Hidden("ApproveFaileMsg", Lang.csfs_approve_fail)
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add start*@
@* 收發代辦 *@
@Html.Hidden("AddDay", (Int32)ViewBag.AddDay)
@Html.Hidden("AssAgentsConfirmMsg", Lang.csfs_confirm_assign_agents)
@Html.Hidden("AssAgentsSuccessMsg", Lang.csfs_AssAgentsSuccess)
@Html.Hidden("AssAgentsFailMsg", Lang.csfs_assign_agents_fail)
@Html.Hidden("NuclearTitle1", Lang.csfs_assign_agents)
@*20170421 固定 RQ-2015-019666-017 派件至跨單位 宏祥 add end*@
@* 退回 *@
@Html.Hidden("ReturnfirmMsg", Lang.csfs_confirm_back)
@Html.Hidden("ReturnOkMsg", Lang.csfs_back_success)
@Html.Hidden("ReturnFaileMsg", Lang.csfs_back_fail)
@Html.Hidden("TextNotNull", Lang.csfs_select_returnReason)
@Html.Hidden("PleaseSelect", Lang.csfs_select)
@Html.Hidden("CheckCount", "選取案件不能超過30筆")
@Html.Hidden("isQuery", (string)ViewBag.isQuery)
@Html.Hidden("CaseKind2Query", (string)ViewBag.CaseKind2Query)
@Html.Hidden("CurrentPage", (string)ViewBag.CurrentPage)

@* 20170630 緊急 RQ-2015-019666-018 派件至跨單位 宏祥 add start *@
@Html.Hidden("IsBranchDirector", (string)ViewBag.IsBranchDirector)
@Html.Hidden("GetAgentDepartment2Url", Url.Action("ChangAgentDepartment1", "CollectionToAgent", new { area = "Collection" }))
@Html.Hidden("GetAgentDepartmentUserUrl", Url.Action("ChangAgentDepartment2", "CollectionToAgent", new { area = "Collection" }))
@* 20170630 緊急 RQ-2015-019666-018 派件至跨單位 宏祥 add end *@

@* 20171103 RC RQ-2015-019666-003 系統功能修正 宏祥 update start *@
@Html.Hidden("AgentDepartment2Query", (string)ViewBag.AgentDepartment2Query)
@Html.Hidden("AgentDepartmentUserQuery", (string)ViewBag.AgentDepartmentUserQuery)
@* 20171103 RC RQ-2015-019666-003 系統功能修正 宏祥 update end *@

@section scripts {
    @Scripts.Render("~/Scripts/bootstrap-typeahead.js")
    @Html.Hidden("GetGovNameUrl", Url.Action("GetGovNameByGoveKind", "Home", new { area = "" }))
    @Scripts.Render("~/Scripts/Director/DirectorToApprove.js")
}
