@using CTBC.FrameWork.Util
@model CTBC.CSFS.ViewModels.WarningReturnViewModel
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Colorbox_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
                @*@if (Model.WarningReturnList != null)
                {
                    if (Model.WarningReturnList.Any())
                    {
                        <div class="box-tools pull-right" id="pager">
                            @Ajax.Pager(Model.WarningReturn.PageSize, Model.WarningReturn.CurrentPage, Model.WarningReturn.TotalItemCount, Model.WarningReturn, new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "Post" }, Lang.csfs_common, Lang.csfs_page, Lang.csfs_record, Model.WarningReturn.SortExpression, Model.WarningReturn.SortDirection)
                        </div>
                    }
                }*@
            </div>
            <div id="querytablediv" class="box-body">
                <table id="query_table" class="table table-bordered table-striped text-black sort">
                    <thead>
                        <tr class="alert-success text-center ">
                            @*<th><input type="checkbox" id="CheckAll"></th>*@
                            @* <th>@Lang.csfs_seqnum</th>*@
                            <th></th>
                            <th>案件編號</th>
                            <th>類別</th>
                            <th>通報警局</th>
                            <th>二</th>
                            <th>165案號</th>
                            <th>案發日期/時間</th>
                            <th>案發地點</th>
                            <th>主通報</th>
                            <th>帳號</th>
                            <th>ID/統一證號</th>
                            <th>中文戶名</th>
                            <th>etabs設定警示時間</th>
                            <th>衍生警示</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.WarningReturnList != null && Model.WarningReturnList.Any())
                        {
                            foreach (var item in Model.WarningReturnList)
                            {
                        <tr>
                            @*<td class="text-center">
            <input type="checkbox" name="r2" class="checkfile" value="@item.SerialID" data-status="@item.Status" />
        </td>*@

                            <td>
                                @*@Html.ActionLink(Convert.ToString(item.DocNo) + "-" + Convert.ToString(item.SerialNo), "Edit", "CaseWarning", new { area = "KeyInput", DocNo = item.DocNo }, new { })*@

                                <a href="@Url.Action("EditWarn", "CaseWarning", new { area = "KeyInput", SerialID = item.SerialID,@radom = DateTime.Now.ToString() })" class="fancy900_455"><i class=" glyphicon glyphicon-edit"></i></a>
                            </td>
                            <td>
                                @item.DocNo-@item.SerialNo
                            </td>
                            <td>@item.Kind</td>
                            <td>@item.PoliceStation</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Retry))
                                {
                                    if (item.Retry == "Y" || item.Retry == "1")
                                    {
                                        <text>Y</text>
                                    }
                                    else
                                    {
                                        <text>N</text>
                                    }
                                }
                                else
                                {
                                    <text>N</text>
                                }
                            </td>
                            <td>@item.No_165</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.HappenDateTime))
                                {
                                    <text>@DateTime.Parse(item.HappenDateTime).ToString("yyyy/MM/dd HH:mm:ss")</text>
                                        @*<text>@UtlString.FormatDateTw(item.HappenDateTime)</text>*@
                                }
                                    </td>
                            <td>@item.DocAddress</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Original))
                                {
                                    if (item.Original == "Y" || item.Original == "1")
                                    {
                                        <text>Y</text>
                                    }
                                    else
                                    {
                                        <text>N</text>
                                    }
                                }
                                else
                                {
                                    <text>N</text>
                                }
                            </td>
                            <td>@item.CustAccount</td>
                            <td>
                                @Html.ActionLink(@item.CustId, "WarningCustomerInfo", "WarningReturn", new { area = "Agent", custId = @item.CustId, DocNo = @item.DocNo }, new { @class = "fancy800_600" })
                            </td>
                            <td>@item.CustName</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.EtabsDatetime))
                                {
                                    <text>@UtlString.FormatDateTw(item.EtabsDatetime)</text>
                                    <text>@UtlString.FormatDateTw(item.EtabsDatetimeHour)</text>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Flag_909113))
                                {
                                    if (item.Set == "Y" || item.Set == "1")
                                    {
                                        <text>Y</text>
                                    }
                                    else
                                    {
                                        <text>N</text>
                                    }
                                }
                                else
                                {
                                    <text>N</text>
                                }
                            </td>

                        </tr>
                            }
                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>
                @Html.Hidden("querystring", Model.WarningReturn.SerialID)
                @Html.Hidden("querystring", Model.WarningReturn.StateType)
                @Html.Hidden("querystring", Model.WarningReturn.Original)
                @Html.Hidden("querystring", Model.WarningReturn.RelieveDate)
                @Html.Hidden("querystring", Model.WarningReturn.TX9091)
                @Html.Hidden("querystring", Model.WarningReturn.TX9092)
                @Html.Hidden("querystring", Model.WarningReturn.DocNo)
                @Html.Hidden("querystring", Model.WarningReturn.CustId)
                @Html.Hidden("querystring", Model.WarningReturn.CustAccount)
                @Html.Hidden("querystring", Model.WarningReturn.BankID)
                @Html.Hidden("querystring", Model.WarningReturn.ForCDate)
                @Html.Hidden("querystring", Model.WarningReturn.NotificationUnit)
                @Html.Hidden("querystring", Model.WarningReturn.NotificationName)
                @Html.Hidden("querystring", Model.WarningReturn.ExtPhone)
                @Html.Hidden("querystring", Model.WarningReturn.CustName)
                @Html.Hidden("querystring", Model.WarningReturn.AccountStatus)
                @Html.Hidden("querystring", Model.WarningReturn.PoliceStation)
                @Html.Hidden("querystring", Model.WarningReturn.NoClosed)
                @Html.Hidden("querystring", Model.WarningReturn.ModifiedDate)
                @Html.Hidden("querystring", Model.WarningReturn.No_165)
                @Html.Hidden("querystring", Model.WarningReturn.Kind)
                @Html.Hidden("querystring", Model.WarningReturn.Set)
                @Html.Hidden("defaultSortColumn", Model.WarningReturn.SortExpression)
                @Html.Hidden("defaultSort", Model.WarningReturn.SortDirection)
                @Html.Hidden("TextNotNull", Lang.csfs_text_notnull)
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script language="javascript">
    jQuery(document).ready(function () {
        $.custPagination.BindCheckBox();
        $.custPagination.sort($("#divResult"));
    });
</script>