@model CTBC.CSFS.ViewModels.CaseCalculatorViewModel

@{
    ViewBag.Title = "CaseCalculator";
}


@using (Html.BeginForm("CreateCalculator", "AgentHandleDetail", new { area = "Agent" }, FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal", target = "upload_frame" }))
{
    <div class="box box-primary">
        <!-- form start -->
        <div class="box-body ">
            <table class="table-noborder col-md-12">
                <tbody>
                    <tr>
                        <th class="col-md-1 text-right">各項金額</th>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorMain.Amount1, new { @id = "txtAmount1" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorMain.Amount2, new { @id = "txtAmount2" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorMain.Amount3, new { @id = "txtAmount3" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorMain.Amount4, new { @id = "txtAmount4" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorMain.Amount5, new { @id = "txtAmount5" })
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-right">利息金額</th>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.Amount, new { @id = "txtAmount" })
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-right">利率類型</th>
                        <td>
                            @Html.DropDownListFor(m => m.CaseCalculatorDetails.InterestRateType, (IEnumerable<SelectListItem>)ViewBag.InterestRateList, Lang.csfs_select, new { @id = "ddlInterestRateType" })
                        </td>
                        <th class="col-md-1 text-right">利率</th>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.InterestRate, new { @id = "txtInterestRate" })%
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-right">起始日</th>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.StartDate, new { @id = "txtStartDate", data_datepicker = "true" })
                        </td>
                        <th class="col-md-1 text-right">截止日</th>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.EndDate, new { @id = "txtEndDate", data_datepicker = "true" })
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-right">利息結果</th>
                        <td class="col-md-11" colspan="5">
                            <table class="table-noborder col-md-8">
                                <thead>
                                    <tr class="alert-success text-center ">
                                        <th>金額</th>
                                        <th>利率</th>
                                        <th>天數</th>
                                        <th>起始日</th>
                                        <th>截止日</th>
                                        <th>利息</th>
                                        <th>利息(取整)</th>
                                        <th>刪除</th>
                                    </tr>
                                </thead>
                                <tbody id="tbResult">
                                    @for (int i = 0; i < Model.CaseCalculatorDetailsList.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.CaseCalculatorDetailsList[i].Amount</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].InterestRate</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].InterestDays</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].StartDate</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].EndDate</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].Interest</td>
                                            <td>@Model.CaseCalculatorDetailsList[i].InterestReal</td>
                                            <td>
                                                <a class="btn btn-default btn-xs js-CleanLine" title="@Lang.csfs_delete" href="#" onclick="DeleteCal(@Model.CaseCalculatorDetailsList[i].CalcDId)">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-1 text-right">利息合計</th>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.InterestTotal, new { @id = "txtInterestTotal" })
                        </td>
                        <th class="col-md-1 text-right">扣押總計</th>
                        <td>
                            @Html.TextBoxFor(m => m.CaseCalculatorDetails.CaseTotal, new { @id = "txtCaseTotal" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnCalculator" type="button" class="btn btn-primary btn-xs">新增</button>
            <button id="btnSave" type="button" class="btn btn-primary btn-xs">確認</button>
            <button id="btnCancel" type="reset" class="btn btn-primary btn-xs">取消</button>
        </div>
    </div>
}
@Html.Hidden("CreateCalculatorDetailUrl", Url.Action("CreateCalculatorDetail", "AgentHandleDetail", new { area = "Agent" }))
@Html.Hidden("CreateSuccessUrl", Url.Action("CaseCalculator", "AgentHandleDetail", new { area = "Agent" }))
@Html.Hidden("DeleteUrl", Url.Action("DeleteCalCase", "AgentHandleDetail", new { area = "Agent" }))
@Html.Hidden("hidCaseId", (System.Guid)ViewBag.CaseId)
@Html.Hidden("hidSum", (int)ViewBag.Sum)
@Html.Hidden("NametxtAmount", "請輸入利率金額") @*利息金額*@
@Html.Hidden("NameddlInterestRateType", "請選擇利率類型") @*利率類型*@
@Html.Hidden("NametxtInterestRate", "請輸入利率") @*利率*@
@Html.Hidden("NametxtStartDate", "請輸入正確的起始日") @*起始日*@
@Html.Hidden("NametxtStartDate1", "請輸入起始日") @*起始日*@
@Html.Hidden("NametxtEndDate", "請輸入正確的截止日")@*截止日*@
@Html.Hidden("NametxtEndDate1", "請輸入截止日")@*截止日*@
@Html.Hidden("NameDate", "起始日不能大於截止日，請重新輸入")@*起始日與截止日比較*@

<script src="~/Scripts/jquery.alerts-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $("#btnCalculator").click(function () { return CalculatorInfo(); })
    $("#txtInterestTotal").val($("#hidSum").val());
    $("#txtCaseTotal").val($("#hidSum").val());

    function CalculatorInfo() {
        var txtAmount = $("#txtAmount").val();               //*計息金額
        var ddlInterestRateType = $("#ddlInterestRateType option:selected").val(); //* 利率類型 Y:年利率 D:日利率
        var txtInterestRate = $("#txtInterestRate").val(); //*利率
        var txtStartDate = $("#txtStartDate").val();           //*起始日
        var txtEndDate = $("#txtEndDate").val();              //*截止日

        var newLine = "<br/>";
        var msg = "";
        if (txtAmount == "" || txtAmount == null) {
            msg = msg + $("#NametxtAmount").val() + newLine;
        }
        if ($("#ddlInterestRateType").val().length <= 0) {
            msg = msg + $("#NameddlInterestRateType").val() + newLine;
        }
        if (txtInterestRate == "" || txtInterestRate == null) {
            msg = msg + $("#NametxtInterestRate").val() + newLine;
        }
        if (txtStartDate == "" || txtStartDate == null) {
            msg = msg + $("#NametxtStartDate1").val() + newLine;
        }
        if (txtEndDate == "" || txtEndDate == null) {
            msg = msg + $("#NametxtEndDate1").val() + newLine;
        }
        var DATE_FORMAT = /^[0-9]{4}\/[0-1]?[0-9]{1}\/[0-3]?[0-9]{1}$/;
        if (!DATE_FORMAT.test(txtStartDate)) {
            msg = msg + $("#NametxtStartDate").val() + newLine;
        }
        if (!DATE_FORMAT.test(txtEndDate)) {
            msg = msg + $("#NametxtEndDate").val() + newLine;
        }
        if (dateCompare(txtStartDate, txtEndDate) == 1) {
            msg = msg + $("#NameDate").val() + newLine;
        }
        //* 有必填檢核錯誤
        if (msg.length > 0) {
            jAlertError(msg);
            return false;
        }

        CreateCalCase(txtAmount, txtInterestRate, txtStartDate, txtEndDate, $("#hidCaseId").val(), ddlInterestRateType);
        return true;
    }

    //新增一筆利息結果
    function CreateCalCase(amount, interestrate, startdate, enddate, caseid, casetype) {
        var totalLast = Number($("#txtAmount1").val()) + Number($("#txtAmount2").val()) + Number($("#txtAmount3").val()) + Number($("#txtAmount4").val()) + Number($("#txtAmount5").val());
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            url: $("#CreateCalculatorDetailUrl").val(),
            data: {
                amount: amount, InterestRate: interestrate, StartDate: startdate,
                EndDate: enddate, CaseId: caseid, CaseType: casetype
            },
            success: function (data) {
                var resultdata = new Array();
                resultdata = data.split('|');
                if (resultdata[0]) {
                    $.ajax({
                        type: "get",
                        async: false,
                        cache: false,
                        url: $("#CreateSuccessUrl").val(),
                        data: { CaseId: $("#hidCaseId").val() },
                        success: function (data) {
                            $("#panel8").html(data);
                            $("#txtInterestTotal").val(resultdata[1]);
                            $("#txtCaseTotal").val(Number(totalLast) + Number(resultdata[1]))
                            $.CSFS.bindDatePicker();
                        }
                    })
                }
            },
            error: function (xhr) {
            }
        });
    }

    //* 刪除利息結果的一筆數據
    function DeleteCal(calid) {
        var totalLast = Number($("#txtAmount1").val()) + Number($("#txtAmount2").val()) + Number($("#txtAmount3").val()) + Number($("#txtAmount4").val()) + Number($("#txtAmount5").val());
        $.ajax({
            type: "post",
            async: false,
            url: $("#DeleteUrl").val(),
            data: { calId: calid, CaseId: $("#hidCaseId").val() },
            success: function (data) {
                var resultdata = new Array();
                resultdata = data.split('|');
                if (resultdata[0]) {
                    $.ajax({
                        type: "get",
                        async: false,
                        cache: false,
                        url: $("#CreateSuccessUrl").val(),
                        data: { CaseId: $("#hidCaseId").val() },
                        success: function (data) {
                            $("#panel8").html(data);
                            $("#txtInterestTotal").val(resultdata[1]);
                            $("#txtCaseTotal").val(Number(totalLast) + Number(resultdata[1]))
                            $.CSFS.bindDatePicker();
                        }
                    })
                } else {

                }
            }
        })
    }

    //*判斷起始日不能大於截止日
    function dateCompare(date1, date2) {
        date1 = date1.replace(/\-/gi, "/");
        date2 = date2.replace(/\-/gi, "/");
        var time1 = new Date(date1).getTime();
        var time2 = new Date(date2).getTime();
        if (time1 > time2) {
            return 1;
        }
        else {
            return 0;
        }
    }
</script>