@{
    Layout = "~/Views/Shared/_Colorbox_Layout.cshtml";
}

<div class="margin">
    <div class="box box-primary col-xs-12">
        <div class="box-header">
            <h3 class="box-title">@Lang.csfs_query</h3>
        </div>
        @using (Html.BeginForm("_QueryGovAddressResult", "Home", new {area = ""}, FormMethod.Post, new {id = "frmQuery", @class = "form-horizontal"}))
        {
            <div class="box-body ">
                <table id="query_table" class="table text-black sort">
                    <tbody>
                    <tr style="display:none">
                        <td class="col-md-2">類型</td>
                        <td class="col-md-10">
                            @Html.TextBox("GovKind", "", new {@MaxLength = "60", @id = "GovKind"})
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">機關名稱</td>
                        <td class="col-md-10">
                            @Html.TextBox("GovName", "", new {@MaxLength = "60", @id = "GovName"})
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer text-center">
                <button id="btnQueryGovAddress" type="button" class="btn btn-primary btn-xs">@Lang.csfs_query</button>
                <button id="btnCancel" type="button" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
            </div>


        }
    </div>

    <div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryGovAddressResult", "Home", new {area = ""})"></div>
</div>

<script src="~/Scripts/jquery-2.1.3.min.js"></script>

<script type="text/javascript">
    $("#frmQuery").submit(function () { return btnQueryGovAddressClick });
    $("#btnQueryGovAddress").click(function () { return btnQueryGovAddressClick(); });
    $("#btnCancel").click(function () { return btnCancelClick(); });

    //* 點選查詢
    function btnQueryGovAddressClick() {
        $("#divResult").html("");
        trimAllInput();

        $.blockUI();
        $.ajax({
            url: $("#frmQuery").attr("action"),
            type: "Post",
            cache: false,
            data: $("#frmQuery").serialize(),
            error: function () {
                jAlertError($("#LoadErrorMsg").val());
                $.unblockUI();
            },
            success: function (data) {
                $("#divResult").html(data).show();
                $.unblockUI();
                $("#querystring").val($("#frmQuery").serialize());
            }
        });
        return false;
    }
    //* 點擊取消
    function btnCancelClick() {
        parent.$.colorbox.close();
    }

    function trimAllInput() {
        $(":input[type='text']").each(function () {
            $(this).val($.trim($(this).val()));
        });
    }
</script>
