@model CTBC.CSFS.Models.SendNoSetting

@{
    ViewBag.Title = Lang.csfs_menu_tit_sendnosetting;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <i class="glyphicon glyphicon-search"></i>
        <h3 class="box-title">@Lang.csfs_query</h3>
    </div>
    @using (Html.BeginForm("_QueryResult", "SendNoSetting", new { area = "SystemManagement" }, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
    {
        <div class="box-body ">
            <table class="table-noborder">
                <tbody>
                    <tr>
                        @* 請使用 col-md-數字來設定寬度 一行總和為12 *@
                        <td class="col-md-1 text-right">@Lang.csfs_year1</td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.SendNoYear, new { @id = "txtSendNoYear", @MaxLength = "4" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnQuery" type="button" class="btn btn-primary btn-xs">@Lang.csfs_query</button>
            <button id="btnCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
            <a class="btn btn-primary btn-xs" href="@Url.Action("Create", "SendNoSetting", new { area = "SystemManagement" })">@Lang.csfs_create</a>
        </div>
    }
</div>

<div id="divResult" class="table-wrap" data-target-url="@Url.Action("_QueryResult", "SendNoSetting", new { area = "SystemManagement" })">

</div>
@Html.Hidden("NowPage", "NowQuery")
@Html.Hidden("EditUrl", Url.Action("Edit", "SendNoSetting", new { area = "SystemManagement" }))
@Html.Hidden("DeleteUrl", Url.Action("Delete", "SendNoSetting", new { area = "SystemManagement" }))
@Html.Hidden("SelectOneMsg", Lang.csfs_select_one)
@Html.Hidden("DeleteConfirmMsg", Lang.csfs_del_confirm)
@Html.Hidden("DeleteFailMsg", Lang.csfs_del_fail)
@Html.Hidden("DeleteSuccessMsg", Lang.csfs_del_ok)

@section scripts {
    @Scripts.Render("~/Scripts/SystemManagement/SendNoSetting.js")
}