@model  CaseSeizureViewModel

@{
    ViewBag.Title = Lang.csfs_menu_tit_caseseizure;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "CaseSeizure", new { area = "KeyInput" }, FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal", enctype = "multipart/form-data", target = "upload_frame" }))
{
    <div class="box box-primary">
        <div class="box-header">
            <i class="glyphicon glyphicon-edit"></i>
            <h3 class="box-title">@Lang.csfs_menu_tit_keyinput</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body ">
            <table class="table-noborder col-md-12">
                <tbody>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_unit</td>
                        <td class="col-md-10" colspan="5">
                            @Html.DropDownListFor(m => m.CaseMaster.GovKind, (IEnumerable<SelectListItem>)ViewBag.GOV_KINDList, new { @id = "ddlGOV_KIND" })
                            @Html.DropDownListFor(m => m.CaseMaster.GovUnit, (IEnumerable<SelectListItem>)ViewBag.ddlGovUnit,Lang.csfs_select, new { @id = "ddlGovUnit" })
                            </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_date</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.CaseMaster.GovDate, new { @id = "txtGovDate", data_datepicker = "true" }) (@Lang.csfs_format：YYYMMDD)
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_speed</td>
                        <td class="col-md-2">
                            @Html.DropDownListFor(m => m.CaseMaster.Speed, (IEnumerable<SelectListItem>)ViewBag.SpeedList, new { @id = "ddlSpeed" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_receive_kind</td>
                        <td class="col-md-2">
                            @Html.DropDownListFor(m => m.CaseMaster.ReceiveKind, (IEnumerable<SelectListItem>)ViewBag.ReceiveKindList, new { @id = "ddlReceiveKind" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_gov_no</td>
                        <td class="col-md-5">
                            @Html.TextBoxFor(m => m.CaseMaster.GovNo, new { @id = "txtGovNo", @MaxLength = "60", @style = "width:96%" })
                            <i id="iLogo" class=""></i>
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_limited_date</td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.CaseMaster.LimitDate, new { @id = "txtLimitDate", @readonly = "true" })
                        </td>
                        <td class="col-md-1 text-right">
                            @Lang.csfs_receivedata
                        </td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.CaseMaster.ReceiveDate, new { @id = "txtReceiveDate",@readonly="true" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_case_kind</td>
                        <td class="col-md-5">
                            @Html.DropDownListFor(m => m.CaseMaster.CaseKind, (IEnumerable<SelectListItem>)ViewBag.CaseKindList, new { @id = "ddlCaseKind", @disabled = "true" })
                            @Html.DropDownListFor(m => m.CaseMaster.CaseKind2, (IEnumerable<SelectListItem>)ViewBag.CaseKind2List, new { @id = "ddlCaseKind2" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_case_unit</td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(m => m.CaseMaster.Unit, new { @id = "txtUnit", @readonly = "true" })
                        </td>
                        <td class="col-md-1 text-right">@Lang.csfs_keyin_person</td>
                        <td class="col-md-2">@Html.TextBoxFor(m => m.CaseMaster.Person, new { @id = "txtPerson", @readonly = "true" })</td>
                    </tr>
                    <tr>
                        <td class="col-md-1 text-right">@Lang.csfs_case_attachment</td>
                        <td class="col-md-11" colspan="3">
                            <table class="table table-bordered" id="divUploadList">
                                <tr>
                                    <td><input type="file" class="col-sm-12 no-padding" name="fileAttNames" id="fileAtt1" /></td>
                                </tr>
                            </table>
                            @***** 上傳部分開始 ******@
                            @*<div id="divUploadList" style="Margin-left: 15px;">
                                <div class="row">
                                    <input type="file" class="col-sm-6" name="fileAttNames" id="fileAtt1" />
                                </div>
                            </div>*@
                            @***** 上傳部分結束 ******@
                        </td>
                    </tr>
                    <tr id="SeizureId">
                        <td class="col-md-1 text-right">受文者</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.Receiver, new { @id = "txtReceiver", @MaxLength = "100", @readonly = "true" })
                        </td>
                        <td class="col-md-1 text-right">來函扣押總金額</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.ReceiveAmount, new { @id = "txtReceiveAmount" })
                        </td>
                        <td class="col-md-1 text-right">金額未達毋需扣押</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.NotSeizureAmount, new { @id = "txtNotSeizureAmount", @readonly = "true" })
                        </td>
                    </tr>
                    <tr id="PayId">
                        <td class="col-md-1 text-right">前案扣押金額</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.PreSubAmount, new { @id = "txtPreSubAmount"})
                        </td>
                        <td class="col-md-1 text-right">收取金額</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.PreReceiveAmount, new { @id = "txtPreReceiveAmount" })
                        </td>
                        <td class="col-md-1 text-right">超過收取金額部份是否撤銷</td>
                        <td class="col-md-3">
                            @Html.TextBoxFor(m => m.CaseMaster.OverCancel, new { @id = "txtOverCancel" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnSave" type="button" class="btn btn-primary btn-xs">@Lang.csfs_save_and_send</button>
            <button id="btnCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div class="box-body">
                    <table id="query_table" class="table table-bordered table-striped text-black sort">
                        <thead>
                            <tr class="alert-success text-center ">
                                <th class="col-xs-3"> @Lang.csfs_obligor_name</th>
                                <th class="col-xs-3"> @Lang.csfs_obligor_no</th>
                                <th class="col-xs-5"> @Lang.csfs_usr_id</th>
                                <th class="col-xs-1"> @Lang.csfs_remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 10; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.CaseObligorlistO[i].ObligorName, new { @MaxLength = "70", @class = "col-xs-12 no-padding" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.CaseObligorlistO[i].ObligorNo, new { @MaxLength = "14", @class = "col-xs-12 no-padding" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.CaseObligorlistO[i].ObligorAccount, new { @MaxLength = "16", @class = "col-xs-12 no-padding" })
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default btn-xs js-CleanLine" title="@Lang.csfs_delete" href="#">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<iframe id="upload_frame" name="upload_frame" src="" class="hidden"></iframe>

@Html.Hidden("NowPage", "CaseSeizureCreate")
@Html.Hidden("CheckGovNoExistUrl", Url.Action("IsGovNoExist", "CaseSeizure", new { area = "KeyInput" }))
@Html.Hidden("CaseEndSoonMsg", string.Format(Lang.csfs_case_end_soon_msg, (string)ViewBag.CASE_END_TIME))
@Html.Hidden("CaseEndMsg", Lang.csfs_case_end_msg)
@Html.Hidden("EndTime", (string)ViewBag.CASE_END_TIME)
@Html.Hidden("Emploee", (bool)ViewBag.Emploee)
@Html.Hidden("CaseEmploeeMsg", Lang.csfs_case_emploee_msg)
@Html.Hidden("HidYear",(string)ViewBag.CurrentYear)
@*下面都檢核用*@
@Html.Hidden("PlzCorrectFormat", Lang.csfs_enter_correct_format)
@Html.Hidden("PlzInput", Lang.csfs_enter_parm0)
@Html.Hidden("PlzSelect", Lang.csfs_select)
@Html.Hidden("NameGovUnit", Lang.csfs_gov_unit) @*來文機關*@
@Html.Hidden("NameGovDate", Lang.csfs_gov_date) @*來文日期*@
@Html.Hidden("NameSpeed", Lang.csfs_case_speed) @*速別*@
@Html.Hidden("NameReceiveKind", Lang.csfs_receive_kind) @*來文方式*@
@Html.Hidden("NameGovNo", Lang.csfs_gov_no) @*來文字號*@
@Html.Hidden("NameCaseKind", Lang.csfs_case_kind) @*類別*@
@Html.Hidden("NameObligorName", Lang.csfs_obligor_name) @*義(債)務人戶名*@
@Html.Hidden("NameObligorNo", Lang.csfs_obligor_no) @*義(債)務人統編*@
@Html.Hidden("AtLeastOne", Lang.csfs_plz_obligor_no) @*至少一個義務人*@
@Html.Hidden("GovNoExistConfirmMsg", Lang.csfs_gov_no_exist_confirmmsg)
@Html.Hidden("ObligorNoErrorConfirmMsg", Lang.csfs_obligor_no_error_confirmmsg)
@Html.Hidden("CheckEndTimeUrl", Url.Action("CanBeSendKeyin", "Common", new { area = "Common" }))
@section scripts {

    @Scripts.Render("~/Scripts/KeyInput/CaseSeizure.js")
    @Scripts.Render("~/Scripts/common.uploadlist.js")
    @* 來文機關聯動 start*@
    @*<script src="~/Scripts/bootstrap-typeahead.js"></script>*@
    @Html.Hidden("GetGovNameUrl", Url.Action("GetGovNameByGoveKind", "Home", new { area = "" }))
    @* 來文機關聯動 end *@
}

