@model CTBC.CSFS.ViewModels.Email_NoticeViewModel
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
    function deleteEmail(Email) {
        if (confirm("@Lang.csfs_isdelete")) {
            //-------------------------------------------------------------------
            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("Delete", "EmailGroup")',
                async: false,
                data: { Email: Email },
                success: function(data) {
                    if (data == "1") {
                        alert("@Lang.csfs_del_ok");
                        location.href = '@Url.Action("Query", "EmailGroup")';
                    } else {
                        alert("@Lang.csfs_del_fail");
                    }
                },
                error: function(xhr) {
                    displayError(xhr);
                }
            });
            //-------------------------------------------------------------------
        }
    }
    function displayError() {
        jAlertError($("#LoadErrorMsg").val());
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="glyphicon glyphicon-th"></i>
                <h3 class="box-title">@Lang.csfs_result_area</h3>
            </div><!-- /.box-header -->
            <div id="querytablediv" class="box-body  table-scroll" style="padding: 0;">
                <table id="query_table" class="table table-bordered table-striped text-black sort">
                    <thead>
                        <tr class="alert-success text-center ">
                            <th>@Lang.csfs_emailaccount</th>
                            <th>@Lang.csfs_Unit</th>
                            <th>@Lang.csfs_person</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Email_NoticeList != null && Model.Email_NoticeList.Any())
                        {
                            foreach (var item in Model.Email_NoticeList)
                            {
                                <tr>
                                    <td>@item.Email</td>
                                    <td>@item.Unit</td>
                                    <td>@item.Employee</td>
                                    <td>
                                        <a class="btn btn-default btn-xs" title="@Lang.csfs_edit" href="@Url.Action("Edit", "EmailGroup", new { area = "SystemManagement", Email = item.Email })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-default btn-xs" title="@Lang.csfs_delete" href="#" onclick="deleteEmail('@item.Email');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="gridrow"><td colspan="4"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
