@using CTBC.FrameWork.Util
@model CTBC.CSFS.ViewModels.CasePayeeSettingViewModel
@{
    ViewBag.Title = "_PayeeSetting";
}

<div>
    <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <table id="query_table" class="table table-bordered table-striped text-black sort">
                <thead>
                    <tr class="alert-success text-center ">
                        <th class="col-xs-1">@Lang.csfs_receive_person</th>
                        <th class="col-xs-1">@Lang.csfs_receiver</th>
                        <th class="col-xs-1">@Lang.csfs_check_amt</th>
                        <th class="col-xs-1">@Lang.csfs_fee</th>
                        <th class="col-xs-1">@Lang.csfs_check_no</th>
                        <th class="col-xs-2">@Lang.csfs_case_unit</th>
                        <th class="col-xs-2">@Lang.csfs_bank</th>
                        <th class="col-xs-1">@Lang.csfs_case_type</th>
                        <th class="col-xs-1">@Lang.csfs_memo</th>
                        <th class="col-xs-1">@Lang.csfs_editdelete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.CasePayeeSettingList != null && Model.CasePayeeSettingList.Any())
                    {
                        foreach (var item in Model.CasePayeeSettingList)
                        {
                            <tr>
                                <td class="text-center">@item.ReceivePerson</td>
                                <td class="text-center">@item.Receiver</td>
                                <td class="text-right">@UtlString.FormatCurrency(item.Money, 0)</td>
                                <td class="text-right">@UtlString.FormatCurrency(item.Fee, 0)</td>
                                <td class="text-center">@item.CheckNo</td>
                                <td class="text-center">@item.BankID</td>
                                <td class="text-center">@item.Bank</td>
                                <td class="text-center">@item.CaseKind</td>
                                <td class="text-center">@item.Memo</td>
                                <td class="text-center">
                                    @*<a href="@Url.Action("_PayeeEdit", "AgentAccountInfo", new { area = "Agent", PayeeId = item.PayeeId, @radom = DateTime.Now.ToString() })" class="fancy1000_650 btn btn-default btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a role="menuitem" tabindex="-1" onclick="_PayeeDeleteClick(@item.PayeeId)" class="btn btn-default btn-xs" title="@Lang.csfs_delete">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-body">
            <table id="" class="table text-black no-border">
                <tbody>
                    <tr>
                        <td class="col-md-7"></td>
                        <td class="col-md-2">支付設定總金額: @ViewBag.PayAmount</td>
                        <td class="col-md-2">收款人設定總金額: <span id="payeeValue" class="text-red">@ViewBag.MoneySum</span></td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </div>
</div>





@Html.Hidden("CreateSuccessMsg", Lang.csfs_add_ok)
@Html.Hidden("CreateFailMsg", Lang.csfs_add_fail)
@Html.Hidden("DeleteConfirmMsg", Lang.csfs_del_confirm)
@Html.Hidden("DeleteFailMsg", Lang.csfs_del_fail)
@Html.Hidden("DeleteSuccessMsg", Lang.csfs_del_ok)
@Html.Hidden("PlzInput", Lang.csfs_enter_parm0)
@Html.Hidden("MoneyIsNumber", Lang.csfs_money_is_number)
@Html.Hidden("PersonNotNull", Lang.csfs_receive_person)
@Html.Hidden("ReceiverNotNull", Lang.csfs_receiver)
@Html.Hidden("AddressNotNull", Lang.csfs_address)
@Html.Hidden("CurrencyNotNull", Lang.csfs_currency)
@Html.Hidden("CCReceiverNotNull", Lang.csfs_ccreceiver)
@Html.Hidden("PayeeDeleteUrl", Url.Action("_PayeeDelete", "AgentAccountInfo", new { area = "Agent" }))
@Html.Hidden("SelectAddress", Url.Action("_PayeeSelectAddress", "AgentAccountInfo", new { area = "Agent" }))
@Html.Hidden("GetTicketUrl", Url.Action("GetTicket", "AgentAccountInfo", new { area = "Agent" }))
@Html.Hidden("CancelTicketUrl", Url.Action("CancelTicket", "AgentAccountInfo", new { area = "Agent" }))
<script src="~/Scripts/jquery-2.1.3.min.js"></script>

@Html.Hidden("GetGovNameUrl", Url.Action("GetGovNameByGoveKind", "Home", new { area = "" }))

<script type="text/javascript">
    var queryAddrType = "PERSON";
    $("#aQueryPerson").click(function () { queryAddrType = "PERSON"; });
    $("#aQueryReceiver").click(function () { queryAddrType = "RECEIVER"; });
    $("#aQueryCc").click(function () { queryAddrType = "CC"; });

    $("#btnSavePayee").click(function () { return btnSavePayeeClick(); });
    $("#btnGetTicket").click(function () { return btnGetTicketClick(); });
    $("#btnCancelTicket").click(function () { return btnCancelTicketClick(); });

    jQuery(document).ready(function () {
        $.CSFS.bindGovKindAndUnit("ddlReceiver", "TxAddress");
    });
    //* 新增
    function btnSavePayeeClick() {
        trimAllInput();
        if (!ajaxValidate()) {
            return false;
        }

        $.blockUI();
        $.ajax({
            url: $("#frmCreateCPS").attr("action"),
            type: "Post",
            cache: false,
            data: $("#frmCreateCPS").serialize(),
            dataType: "json",
            error: function () {
                jAlertError($("#LoadErrorMsg").val());
                $.unblockUI();
            },
            success: function (data) {
                if (data.ReturnCode === "1") {
                    jAlertSuccess($("#CreateSuccessMsg").val(), function () { location.href = location.href });
                } else {
                    jAlertError($("#CreateFailMsg").val());
                    $.unblockUI();
                }

            }
        });
        return false;
    }
    //* 點擊刪除
    function _PayeeDeleteClick(payeeId) {
        jConfirm($("#DeleteConfirmMsg").val(), $("#j_confirm_header").val(), function (bFlag) {
            if (bFlag === true) {
                $.blockUI();

                $.ajax({
                    url: $("#PayeeDeleteUrl").val(),
                    type: "Post",
                    cache: false,
                    data: { PayeeId: payeeId },
                    error: function () {
                        jAlertError($("#LoadErrorMsg").val());
                        $.unblockUI();
                    },
                    success: function (data) {
                        if (data) {
                            jAlertSuccess($("#DeleteSuccessMsg").val(), function () { location.href = location.href });
                        } else {
                            jAlertError($("#DeleteFailMsg").val());
                            $.unblockUI();
                        }
                    }
                });
            }
        });
    }

    function btnGetTicketClick() {
        $.blockUI();
        $.ajax({
            type: "POST",
            traditional: true,
            url: $("#GetTicketUrl").val(),
            async: false,
            cache: false,
            data: { },
            error: function () {
                jAlertError($("#LoadErrorMsg").val());
                $.unblockUI();
            }
            ,success: function (data) {
                if (data.ReturnCode === "1") {
                    $("#CheckNo").val(data.ReturnMsg);
                    $.unblockUI();
                } else {
                    jAlertError(data.ReturnMsg);
                    $.unblockUI();
                }

            }
        });
    }
    function btnCancelTicketClick() {
        $.blockUI();
        $.ajax({
            type: "POST",
            traditional: true,
            url: $("#CancelTicketUrl").val(),
            async: false,
            cache: false,
            data: {checkno: $("#CheckNo").val()},
            error: function () {
                jAlertError($("#LoadErrorMsg").val());
                $.unblockUI();
            }
            ,success: function (data) {
                if (data.ReturnCode === "1") {
                    $("#CheckNo").val("");
                    $.unblockUI();
                } else {
                    jAlertError(data.ReturnMsg);
                    $.unblockUI();
                }

            }
        });
    }
    function ajaxValidate() {
        var NewLine = "<br/>";
        var Msg = "";
        if ($("#ReceivePerson").val().length <= 0) {
            Msg = Msg + $.validator.format($("#PlzInput").val(), $("#PersonNotNull").val()) + NewLine;
        }
        if ($("#Receiver").val().length <= 0) {
            Msg = Msg + $.validator.format($("#PlzInput").val(), $("#ReceiverNotNull").val()) + NewLine;
        }
        if ($("#Address").val().length <= 0) {
            Msg = Msg + $.validator.format($("#PlzInput").val(), $("#AddressNotNull").val()) + NewLine;
        }
        if ($("#Currency").val().length <= 0) {
            Msg = Msg + $.validator.format($("#PlzInput").val(), $("#CurrencyNotNull").val()) + NewLine;
        }
        if ($("#CCReceiver").val().length <= 0) {
            Msg = Msg + $.validator.format($("#PlzInput").val(), $("#CCReceiverNotNull").val()) + NewLine;
        }
        var Filter = /^([0-9.]+)$/;
        if (!Filter.test($("#Money").val()) || !Filter.test($("#Fee").val())) {
            Msg = Msg + $("#MoneyIsNumber").val() + NewLine;
        }
        if (Msg.length > 0) {
            jAlertError(Msg);
            return false;
        }
        return true;
    }

    function addTr(govName, govAddr) {
        if (queryAddrType == "PERSON") {
            $("#ReceivePerson").val(govName);
            $("#Receiver").val(govName);
            $("#Address").val(govAddr);
        }
        if (queryAddrType == "RECEIVER") {
            $("#Receiver").val(govName);
            $("#Address").val(govAddr);
        }
        if (queryAddrType == "CC") {
            $("#Currency").val(govName);
            $("#CCReceiver").val(govAddr);
        }
    }

    function trimAllInput() {
        $(":input[type='text']").each(function () {
            $(this).val($.trim($(this).val()));
        });
    }
</script>