@using CTBC.CSFS.Models
@model CTBC.CSFS.ViewModels.TransactionRecordsViewModel
@{
    ViewBag.Title = Lang.csfs_menu_tit_agenttohandle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var n = 0;
}
<div class="nav-tabs-custom">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs" style="cursor: move;">
        <li class=""><a href="@Url.Action("Index", "AgentDocumentInfo", new { area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_document_info</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentAccountInfo", new {area = "Agent", caseId = ViewBag.CaseId})">@Lang.csfs_agent_account_info</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentMeetInfo", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_meet_info</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentOriginalInfo", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_original_info</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentDepartmentAccess", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_department_access</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentSendSettingInfo", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_sendsetting_info</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentCaseHistory", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_case_history</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentCaseCalculator", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_case_calculator</a></li>
        <li class=""><a href="@Url.Action("Index", "AgentCaseMemo", new {area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_case_memo</a></li>
        <li class="active"><a href="@Url.Action("Index", "AgentTransactionRecords", new { area = "Agent", caseId = ViewBag.CaseId })">@Lang.csfs_agent_transrecord_info</a></li>
        @Html.GetBackButtonInTab()
    </ul>
    <div class="tab-content" >
        <div class="tab-pane active" id="panel9">
            <div class="box box-primary">

                <div id="divResult">

                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @using (Ajax.BeginForm("Query", "AgentTransactionRecords", new AjaxOptions() { UpdateTargetId = "divResult", HttpMethod = "post" }, new { @id = "frm0" }))
    {
        @Html.HiddenFor(m => m.CaseId)
        @Html.HiddenFor(m => m.TransRecords.idkey, new { @id = "Hididkey" })
    }
</div>
@section scripts {
    <script type="text/javascript">
       //頁面加載時
       $(function () {
           $("#frm0").submit();
       });
    </script> 
}


