@model CTBC.CSFS.ViewModels.HistoryAgentHandleDetailViewModel
@{
    ViewBag.Title = Lang.csfs_menu_tit_agenttohandle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav-tabs-custom">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs" style="cursor: move;">
        <li class=""><a href="@Url.Action("Index", "HistoryAgentDocumentInfoDetail", new { area = "Common", CaseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">@Lang.csfs_agent_document_info</a></li>
        @if (Html.GetBackControllerName() != "DebtPersonQuery")
        {
            <li class=""><a href="@Url.Action("Index", "HistoryAgentAccountInfoDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">帳務資訊</a></li>
            <li class=""><a href="@Url.Action("Index", "HistoryAgentOriginalInfoDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">正本備查</a></li>
            <li class=""><a href="@Url.Action("Index", "HistoryAgentSendSettingInfoDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">發文資訊</a></li>
            <li class="active"><a href="@Url.Action("Index", "HistoryAgentCaseHistoryDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">流程紀錄</a></li>
            <li class=""><a href="@Url.Action("Index", "HistoryAgentCaseCalculatorDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">利息計算</a></li>
            <li class=""><a href="@Url.Action("Index", "HistoryAgentCaseMemoDetail", new { area = "Common", caseId = ViewBag.CaseId, FromControl = ViewBag.FromControl })">內部註記</a></li>
        }
        @Html.GetBackButtonInTab()
    </ul>
    <div class="tab-content ">
        <div class="tab-pane active" id="panel7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div id="querytablediv" class="box-body">
                            <table id="query_table" class="table table-bordered table-striped text-black sort">
                                <thead>
                                    <tr class="alert-success text-center ">
                                        <th class="col-xs-1">@Lang.csfs_case_no</th>
                                        <th class="col-xs-1 hidden">@Lang.csfs_from_role</th>
                                        <th class="col-xs-1 hidden">@Lang.csfs_from_user</th>
                                        <th class="col-xs-1 hidden">@Lang.csfs_from_folder</th>
                                        <th class="col-xs-2">@Lang.csfs_event_time</th>
                                        <th class="col-xs-1">@Lang.csfs_event</th>
                                        <th class="col-xs-1">@Lang.csfs_to_role</th>
                                        <th class="col-xs-1">@Lang.csfs_to_user</th>
                                        <th class="col-xs-1">@Lang.csfs_to_folder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.AgentHandleDetailList != null && Model.AgentHandleDetailList.Any())
                                    {
                                        foreach (var item in Model.AgentHandleDetailList)
                                        {

                                            <tr>
                                                <td class="text-center">@item.CaseNo</td>
                                                <td class="text-center hidden">@item.FromRole</td>
                                                <td class="text-center hidden">@item.FromUser</td>
                                                <td class="text-center hidden">@item.FromFolder</td>
                                                <td class="text-center">@item.EventTime</td>
                                                <td class="text-center">@item.Event</td>
                                                <td class="text-center">@item.ToRole</td>
                                                <td class="text-center">@item.ToUser</td>
                                                <td class="text-center">@item.ToFolder</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="gridrow"><td colspan="15"><span class="text-red text-center">@Lang.csfs_query_nodata</span></td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>